body{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.topnav{
  background-color: rgb(11, 7, 28);
  color: white;
  width: 101.1% !important;
  height: 82px;
}
.topnav>h3{
	margin-left: 100px;
	text-transform: uppercase;
	margin-top: 27px;
	font-size: 34px;
}
ul{
	background-color: rgb(126, 108, 214) !important;
    list-style-type: none;
    position:sticky;
    top:1px;
}
li{
    float: left;
    margin-left:46px;
    margin-top: 12px;
}
a{
   text-decoration:none;
   font-size:17px;
   color: white !important;
   padding:1px 2px;
   border-radius: 27px;
 }
a:hover{
      background-color:lightgrey;
      text-decoration: none !important;
      color: black !important;
}
.hd{
  font-weight: bold;
  background-color: rgb(16, 16, 43);
  inline-size: 340px;
  margin-top: 78px;
  text-transform: uppercase;
  color: rgb(175, 153, 237);
  margin-left: 550px;
  text
}
.li{
  margin-right:16%;
}
.form-field{
  margin:12px;
  background-color: rgb(20, 25, 25)50%;
  inline-size: 50%;
}
.gender,.file{
  /*color:white;*/
}
.submit_btn,.reset_btn{
  height:40px;
  width:110px;
  border-radius: 5px 5px;
}
.submit_btn{
  background-color: maroon;
  color: white;
}
.reset_btn{
  background-color: rgb(251, 245, 245);
  color: rgb(22, 20, 20);
}